[Desktop Entry]
Encoding=UTF-8
Name=Link to KNMI - Seismologie - Aardbevingen
Type=Link
URL=http://www.knmi.nl/nederland-nu/seismologie/aardbevingen
Icon=text-html
