[Desktop Entry]
Encoding=UTF-8
Name=Link to obspy.wav - WAV(audio) read and write support for ObsPy — ObsPy Documentation (0.10.2)
Type=Link
URL=http://docs.obspy.org/archive/0.10.2/packages/obspy.wav.html
Icon=text-html
